In [10]:
# Import Dependencies
import pandas as pd
import glob

In [19]:
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
clean_data_ridership = pd.concat([pd.read_csv(f) for f in glob.glob('data/2019_Jan-Mar_Citi_Bike_Data/*.csv')], ignore_index = True)
clean_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('data/January_citibike-tripdata/*.csv')], ignore_index = True)
clean_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('data/February_citibike-tripdata/*.csv')], ignore_index = True)
clean_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('data/March-citibike-tripdata/*.csv')], ignore_index = True)

In [20]:
clean_data_ridership.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/19,22145,44131,297823,2429,49
1,1/2/19,38249,58975,297908,1062,36
2,1/3/19,42181,62500,297976,969,31
3,1/4/19,44420,65739,298017,1173,33
4,1/5/19,17636,24326,298048,462,8

In [21]:
clean_data_ridership.count()

Date                                                  90
Trips over the past 24-hours (midnight to 11:59pm)    90
Miles traveled today (midnight to 11:59 pm)           90
Total Annual Members (All Time)                       90
24-Hour Passes Purchased (midnight to 11:59 pm)       90
3-Day Passes Purchased (midnight to 11:59 pm)         90
dtype: int64

In [22]:
clean_data_trip.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,2019-02-01 15:35:02.0820,2019-02-01 15:37:24.1360,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,2019-02-01 17:00:46.8900,2019-02-01 17:04:30.5500,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,2019-02-01 17:08:01.3260,2019-02-01 17:09:47.4400,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,2019-02-01 17:09:31.2100,2019-02-01 17:15:41.6550,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,2019-02-01 17:19:53.2490,2019-02-01 17:25:09.1400,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [23]:
clean_data_trip.count()

tripduration               18565
starttime                  18565
stoptime                   18565
start station id           18565
start station name         18565
start station latitude     18565
start station longitude    18565
end station id             18565
end station name           18565
end station latitude       18565
end station longitude      18565
bikeid                     18565
usertype                   18565
birth year                 18565
gender                     18565
dtype: int64

In [24]:
# Export to csv
clean_data_ridership.to_csv("data/clean_quarter_data_2019.csv")
clean_data_trip.to_csv("data/clean_trip_data_2019.csv")